*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#f4f6fb;
color:#333;
}

header{
background:#111;
padding:15px 40px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo img{
width:45px;
height:45px;
border-radius:50%;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.toggle{
color:white;
cursor:pointer;
font-size:18px;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4f46e5,#9333ea);
color:white;
text-align:center;
}

.hero h1{
font-size:50px;
}

.hero span{
color:#00ffff;
}

.typing{
margin-top:10px;
font-size:22px;
}

.btn{
margin-top:25px;
padding:12px 25px;
background:white;
color:black;
border-radius:25px;
text-decoration:none;
font-weight:600;
}

.section{
padding:80px 20px;
max-width:1000px;
margin:auto;
text-align:center;
}

.skills{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.skill{
background:#111;
color:white;
padding:10px 20px;
border-radius:20px;
}

.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card a{
display:inline-block;
margin-top:10px;
color:#4f46e5;
text-decoration:none;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}

.dark{
background:#111;
color:white;
}