body{
font-family: Arial;
margin:0;
background:#f5f5f5;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#111;
color:white;
}

.navbar ul{
display:flex;
list-style:none;
}

.navbar li{
margin-left:20px;
}

.navbar a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
background:linear-gradient(120deg,#3b82f6,#9333ea);
color:white;
}

section{
padding:60px;
text-align:center;
}

.skills span{
background:#3b82f6;
color:white;
padding:10px 20px;
margin:10px;
border-radius:20px;
display:inline-block;
}

.project-card{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.project-card a{
display:inline-block;
margin-top:10px;
color:#3b82f6;
}

.project-card{
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.skills span{
transition:0.3s;
}

.skills span:hover{
background:#9333ea;
}